<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quos neque placeat animi eaque ipsam in itaque corrupti enim accusantium. Fugit, optio? Sapiente quos distinctio consequatur magnam expedita ex provident?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde excepturi, autem nemo voluptate est quis a voluptas debitis quaerat quisquam aspernatur cum repellat cupiditate suscipit qui quasi cumque enim sit.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat in, cum aut blanditiis recusandae quas excepturi eligendi aperiam vero ad ipsam totam eaque rem unde molestiae non tempora voluptate quis!
            </p>
        </ul> 
    </div>
</div>
